html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title നിങ്ങളുടെ ഇപ്പോഴത്തെ അവസ്ഥ |  Angry Clowns Entertainment
        script(type='text/javascript', src='/javascript/jquery.min.js')
        //script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        //script(type='text/javascript', src='javascript/fb_all.js')
        script(type='text/javascript', src='/javascript/admin.js')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style_new.css')
        //link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.min.css')
        //link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    body(style="margin:50px;")
        .container-fluid
            .row
                .col-md-12
                    a(href='/admin/uploader') BACK
                    table.table
                        thead
                            tr
                                th
                                    | #
                                th
                                    | Image
                                th
                                    | Dialogue
                                th
                                    | For Gender
                                th
                                    | Uploaded By
                        tbody#table_container

