html(lang='en')
   head
     meta(charset='utf-8')
     meta(http-equiv='X-UA-Compatible', content='IE=edge')
     link(rel='shortcut icon', href='assets/img/favicon.png')
     title Angru Clowns Games
     // Bootstrap
     link(href='assets/css/bootstrap.css', rel='stylesheet')
     link(href='assets/css/font-awesome.css', rel='stylesheet')
     link(href='assets/css/bootstrap-theme.css', rel='stylesheet')
     link(rel='stylesheet', href='assets/css/animations.css')
     // siimple style
     link(href='assets/css/style_new.css', rel='stylesheet')
     // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
     //if lt IE 9
       script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
       script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
   body
     .cloud.floating
       img(src='assets/img/cloud.png', alt='Scoop Themes')
     .cloud.pos1.fliped.floating
       img(src='assets/img/cloud.png', alt='Scoop Themes')
     .cloud.pos2.floating
       img(src='assets/img/cloud.png', alt='Scoop Themes')
     .cloud.pos3.fliped.floating
       img(src='assets/img/cloud.png', alt='Scoop Themes')
     #wrapper
       .container
         .row
           .col-sm-12.col-md-12.col-lg-12
             // <img src="assets/img/logo.png" alt="Scoop Themes Logo">
             h1.title GAMES
             br
             h2.subtitle Angry Clowns Entertainment
             br
             // <form class="form-inline validate signup" action="http://scoopthemes.us8.list-manage.com/subscribe/post-json?u=c535e62cabdc2bfeb87bff6de&amp;id=d969b07f82&c=?" method="get" role="form">
             // &lt;!&ndash;<div class="form-group">&ndash;&gt;
             // &lt;!&ndash;<input type="email" class="form-control" name="EMAIL" id="exampleInputEmail1" placeholder="Enter your email address">&ndash;&gt;
             // &lt;!&ndash;</div>&ndash;&gt;
             //
             // </form>
             input#go-to-app.btn.btn-theme(type='submit', name='subscribe', value='Go to App')
             br
           // <div class="col-sm-12 align-center">
           // <ul class="social-network social-circle">
           // <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
           // </li>
           // <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
           // </li>
           // <li><a href="#" class="icoGit" title="Github"><i class="fa fa-github"></i></a>
           // </li>
           // <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
           // </li>
           // </ul>
           // </div>
         .row
           .col-lg-6.col-lg-offset-3
             p.copyright
               | Copyright © 2016 -
               a.copyright-cp(href='http://www.collaborativeclouds.in') CollaborativeClouds.in
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
     // <script src="http://downloads.mailchimp.com/js/jquery.form-n-validate.js"></script>
     script.
       $(document).ready( function () {
       $('#wrapper').height($(document).height());
       // I only have one form on the page but you can be more specific if need be.
       var $form = $('form');
       //    if ( $form.length > 0 ) {
       //        $('form input[type="submit"]').bind('click', function ( event ) {
       //            //if ( event ) event.preventDefault();
       //            // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
       //            //if ( $form.validate() ) { register($form); }
       //            register($form);
       //        });
       //    }
       $("body").on('click','#go-to-app',function (e) {
       window.location.replace('/dash');
       })
       });
       function appendResult(userText , className, iconClass){
       var resultHTML = "<div class='stretchLeft result "+ className + "'>" + userText + " <span class='fa fa-" + iconClass + "'></span>" + "</div>";
       $('body').append(resultHTML);
       $('.result').delay(10000).fadeOut('1000');
       }
       function register($form) {
       window.replace('/');
       }
