html
   head
     title
     script(type='text/javascript', src='tools/jquery.min.js')
     link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='screen')
     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
     link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
     meta(property='og:url', content='http://games.angryclowns.com/layout')
     meta(property='og:type', content='website')
     meta(property='fb:app_id', content='1635446443444270')
     meta(property='og:title', content='Your Website Title')
     meta(property='og:description', content='Your description')
     meta(property='og:image', content='https://mir-s3-cdn-cf.behance.net/project_modules/disp/33977722078413.5630c445d9352.jpg')
     link(rel='stylesheet', href='/stylesheets/style.css')
   body
     .wrapper
       .header
         .xouter
           .xinner
             h1#logo CLOWNS GAMES
         .content-wrap
           .comingsoon
             h2 Coming Soon
             p Angry Clowns Games
           .content
             p
               | “There's a difference between playing and playing games. The former is an act of joy, the latter — an act.”
       // end header
       .social
         a.fa-stack.fa-lg(href='https://www.facebook.com/AngryClownsEntertainment/')
           i.fa.fa-circle.fa-stack-2x
           i.fa.fa-facebook.fa-stack-1x.fa-inverse
         a.fa-stack.fa-lg(href='https://twitter.com/Angryclownsent')
           i.fa.fa-circle.fa-stack-2x
           i.fa.fa-twitter.fa-stack-1x.fa-inverse
