<!DOCTYPE html>
<html>
<head>
<title></title>
    <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
</body>
</html>