html
    body
        table(style='height: 304px; border-color: #ffffff; background: url(', http:='', localhost:8000='', images='', width='550')
        tbody
        tr
        td
        table(style='height: 174px; border-color: #ffffff; margin-left: auto; margin-right: auto;', width='496')
            tbody
                tr
                    td
                        img(src='https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/12923263_995376627166641_3073500089313112844_n.jpg?oh=8478c258425ecb54b826439ecc4c55fa&oe=57C96787', alt='', width='120', height='120')
                    td
                        img(src='http://localhost:8000/images/sha1$e9c62825$1$7c6b68fc5668d7335f98bca641a77ebb55ac2034.jpg', alt='', width='120', height='120')
