html
    body(style='margin:0 !important;')
        table(style='height: 315px; width: 600px; border-color: #ffffff; background: url(http://localhost:8000/images/app_bg.jpg);')
            tbody
                tr
                    td
                        table(style='height: 174px; border-color: #ffffff; margin-left: auto; margin-right: auto; margin-top:50px;', width='496')
                            tbody
                                tr
                                    td(style='padding-left: 78px; ')
                                        img(src='https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/12923263_995376627166641_3073500089313112844_n.jpg?oh=8478c258425ecb54b826439ecc4c55fa&oe=57C96787', alt='', width='120', height='120')
                                    td(style='padding-right: 78px; ')
                                        img(src='http://localhost:8000/images/sha1$e9c62825$1$7c6b68fc5668d7335f98bca641a77ebb55ac2034.jpg', alt='', width='120', height='120')
                                tr
                                    td
                                        h4(style='margin-top: 20px;color:white; text-align:center; align:center') jhsgchjgbuhcg chgs chg chc hwck
