doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Bootstrap 3, from LayoutIt!
        meta(name='description', content='Source code generated using layoutit.com')
        meta(name='author', content='LayoutIt!')
        script(type='text/javascript', src='/javascript/jquery.min.js')
        script(type='text/javascript', src='/javascript/home.js')
        script(type='text/javascript', src='/assets/js/bootstrap.min.js')
        link(href='../assets/css/bootstrap.css', rel='stylesheet')
        link(href='../assets/css/font-awesome.css', rel='stylesheet')
        link(href='/assets/css/bootstrap-theme.css', rel='stylesheet')
    body
        .progress#progress(style="height: 100%;width: 100%;background: rgba(255, 255, 255, 0.92);position: absolute;z-index: 99999;")
            img(style="position: absolute;top: 50%;left: 50%;" src="/images/loading.gif")
        .container-fluid
            .row
                .col-md-12
                    .jumbotron
                          a.btn.btn-primary.btn-large(href='/admin/signout') Signout
                          a.btn.btn-primary.btn-large(href='/admin/gallery' style="margin-left:50px") Gallery
            //            h2
            //                | Hello, world!
            //            p
            //                | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            //            p
            //                a.btn.btn-primary.btn-large(href='#') Learn more
            //        grammarly
            //            ._9b5ef6-textarea_btn._9b5ef6-not_focused
            //                ._9b5ef6-transform_wrap
            //                    ._9b5ef6-status
            .row
                .col-md-4
                .col-md-4
                    .form-container
                        .form-group
                            label(for='dialogueInput')
                                | Dialogue
                            input#dialogueInput.form-control(type='text')
                        .form-group
                            label(for='fileInput')
                                | File input
                            input#fileInput(type='file')
                            p.help-block
                                | Angry Clowns Admin
                        .checkbox
                            label
                                input(type='radio' name='gender' value=1 checked=true)
                                |  Male
                        .checkbox
                            label
                                input(type='radio' name='gender' value=0)
                                |  Female
                        button#upload.btn.btn-default(type='submit')
                            | Submit
                .col-md-4
        //script(src='js/jquery.min.js')
        //script(src='js/bootstrap.min.js')
        //script(src='js/home.js')
